#Files to be ignored
#
*.out
*.thm
*.swp
*.aux
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bak
*.csv

# Folders to be ignored
*.vscode/
build/
./*.pdf
Code/.ipynb_checkpoints/
Code/data/
Code/.ropeproject/
./Code/.vscode/
./img.ipynb_checkpoints/
